moodledata/
moodledata-docker/
moodle.pod.moodle-app-758d56f55-2lbsc/
misc/
.env.*
README.LOCAL.md
README.PATHFINDER.md
.dockercfg
.vscode/*
moodle.docker.config.php
vitess/
docker.tar.gz
.docker/config.json
GITHUB_AUTH_TOKEN.txt
vendor/
openshift/backups/
.odo/
composer.lock
temp/*
Dockerfile.bak.*
users.htpasswd
.openshift/
app/config/sync/moodle/db/*.sql
openshift/app/backups/
openshift/app/configs/
openshift/app/db/
openshift/app/*.yaml